<!DOCTYPE html>

{% load static %}
{% load cart_template_tag %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Edentaste Foods | Cart</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!--Boootstrap core CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.11.2/css/all.css">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!---->
  <link href="{% static 'css/product_desc.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="static/js/main.js"></script>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="{% url 'index' %}"><span>Edentaste</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            {% if user.is_authenticated %}

            <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>

            <li><a class="nav-link scrollto active" href="{% url 'orderlist' %}">Cart&nbsp; &nbsp; <div
                  style="color:red">{{request.user | cart_item_count }}</div></a></li>
            {% endif %}

            {% if user.is_superuser %}
            <li><a class="nav-link scrollto active" href="{%url 'add_product'%}">Add Product</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="dropdown">
              <a class="nav-link scrollto active" href="{% url 'profile' %}"> 
               {{user.username}} &nbsp;<img class="rounded-circle account-img login-img d-flex" style="width: 30px; height:30px" src="{{user.customer.profile_pic.url}}" alt="Profile pic">  &nbsp;&nbsp;</a>
                
             
                  <ul>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'user_logout' %}" style="color: red;">Logout</a></li>
                  </ul>
              </li>
  
            {% else %}
            <li><a class="getstarted scrollto" href="{% url 'user_login' %}">Login</a></li>
            <li><a class="getstarted scrollto" href="{% url 'user_register' %}">Register</a></li>
            {% endif%}
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Profile</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Profile</li>
          <li>{{user.username}}</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
  <br>
  <br> <br>
  <section id="profile-section">
  <div class="container">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active profile">
              <img class="rounded-circle account-img" style="width: 450px; height:auto" src="{{phone.profile_pic.url}}" alt="Profile pic">
            </div>
          </div>  
        </div>

        <div class="details col-md-6" style="align-items: center;">

          <div class="details row-md-3" >
          </div>

          <div class="details row-md-3">
            <div class="details row">
              <div class="details row-md-6">
                <h1 class="price">{{user.first_name.capitalize}} {{user.last_name.capitalize}}
                  <h4 class="price" style="color: magenta;">({{user.username.capitalize}})</h4>
                </h1>
                <h5 class="price">Phone :<span style="color: green;"> {{phone.phone_field}}</span></h5>
                <h4 class="price">Email : <span> {{user.email}}</span></h4>
                <div class="action">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
  <!-- Template Main JS File -->



</body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascripts" src="{static 'vendor/bootstrap/js/bootstrap/min.js'}"></script>

</html>